@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Chela+One&family=Lumanosimo&family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lumanosimo', cursive;
    background-color: #F5EFE7;
}

body{
    line-height: 1.8;
}
h1{
    
    /*width: 540px;
    height: 50px;*/
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    color:#4F709C;
    
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    margin-right: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color:#4F709C;
}
#search-button{
    width: auto;
    padding: 5px 5px;
    border-radius: 20px;
    font-size: large;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
#search-button:hover{
    background-color: #213555;
    color: #D8C4B6;
}

.initial-imgs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.initial-img{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.initial-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}
.initial-img:hover img{
    opacity: 0.8;
}
.initial-img a{
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 10px;
    text-transform: capitalize;
    font-family: 'Belanosima', sans-serif;
    color: #213555;
}

#show-more-button{
    text-align: center;
    margin: 30px auto;
    padding: 5px 5px;
    border-radius: 5px;
    display: block;
    font-size: large;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    display: none;
}
#show-more-button:hover{
    background-color:#213555;
    color: #D8C4B6;
}

@media screen and (max-width:768px) {
    .initial-imgs{
        padding: 20px;
    }
    .initial-img{
        width: 45%;
    }
}
@media screen and (max-width:480px) {
    .initial-img{
        width: 100%;
    }
}
